name: Build

on: [push, pull_request]

jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Optional, use if you use setuptools_scm
        submodules: true  # Optional, use if you have submodules

    - name: Build SDist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  build_wheels_cp36:
    name: Build wheels cp36 on ${{ matrix.os }} 
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      CIBW_BUILD_VERBOSITY: 2

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp36-many*"
          CIBW_SKIP: "*_i686"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX_IGNORED: >
            echo Simplified repair, just a simple copy from {wheel} into {dest_dir} &&
            cp {wheel} {dest_dir}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cp36-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp38:
    name: Build wheels cp38 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp38-many*"
          CIBW_SKIP: "*_i686"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX_IGNORED: >
            echo Simplified repair, just a simple copy from {wheel} into {dest_dir} &&
            cp {wheel} {dest_dir}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cp38-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  upload_all:
    #needs: [make_sdist, build_wheels_cp36, build_wheels_cp37, build_wheels_cp38, build_wheels_cp39, build_wheels_cp310, build_wheels_cp311, build_wheels_cp312, build_wheels_pp37, build_wheels_pp38, build_wheels_pp39, build_wheels_pp310]
    needs: [make_sdist, build_wheels_cp36, build_wheels_cp38]
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    #if: github.event_name == 'release' && github.event.action == 'published'
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: cibw-*
        path: dist
        merge-multiple: true

    - uses: pypa/gh-action-pypi-publish@release/v1
