name: Build

on: [push, pull_request]

jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Optional, use if you use setuptools_scm
        submodules: true  # Optional, use if you have submodules

    - name: Build SDist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  build_wheels_cp36:
    name: Build wheels cp36 on ${{ matrix.os }} 
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, macos-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp36-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cp36-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp37:
    name: Build wheels on cp37 ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, macos-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp37-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cp37-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp38:
    name: Build wheels cp38 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp38-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cp38-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp39:
    name: Build wheels cp39 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp39-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cp39-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp310:
    name: Build wheels cp310 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp310-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-cpr310-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp311:
    name: Build wheels cp311 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp311-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-311-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_cp312:
    name: Build wheels cp312 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "cp312-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-312-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

# Ubuntu musllinux platforms developed a broken version of setuptools as of August 29, 2024
# After further testing, the same thing seems to apply on the macos platforms, disable those.
# I disable them for the time being, in hopes that the issue is fixed in the near future.
#
#  build_wheels_pp37:
#    name: Build wheels pp37 on ${{ matrix.os }}
#    runs-on: ${{ matrix.os }}
#    timeout-minutes: 840
#    strategy:
#      matrix:
#        # macos-13 is an intel runner, macos-14 is apple silicon
#        os: [ubuntu-latest, macos-13]
#
#    env:
#      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
#      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
#      #CIBW_BUILD_VERBOSITY: 2
# 
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Build wheels
#        uses: pypa/cibuildwheel@v2.17.0
#        env:
#          CIBW_BUILD: "pp37-*"
#          CIBW_SKIP: "*_i686"
#          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
#          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
#          CIBW_REPAIR_WHEEL_COMMAND_LINUX_DISABLED_BY_RTJ: >
#            echo Simplified repair, just a simple copy from {wheel} into {dest_dir}&&
#            cp {wheel} {dest_dir}
#          CIBW_REPAIR_WHEEL_COMMAND_MACOS_DISABLED_BY_RTJ: >
#            echo Simplified repair, just a simple copy from {wheel} into {dest_dir} &&
#            cp {wheel} {dest_dir}
#        with:
#          package-dir: .
#          output-dir: wheelhouse
#          config-file: "{package}/pyproject.toml"
#
#      - uses: actions/upload-artifact@v4
#        with:
#          name: cibw-wheels-pp37-${{ matrix.os }}-${{ strategy.job-index }}
#          path: ./wheelhouse/*.whl

  build_wheels_pp38:
    name: Build wheels pp38 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        #os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [windows-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "pp38-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-pp38-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_pp39:
    name: Build wheels pp39 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        #os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [windows-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "pp39-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-pp39-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_wheels_pp310:
    name: Build wheels pp310 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 840
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        #os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [windows-latest]

    env:
      ACTIONS_RUNNER_DEBUG: true  # Enable detailed logging
      ACTIONS_STEP_DEBUG: true  # Even more detailed logging
      #CIBW_BUILD_VERBOSITY: 2
 
    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_BUILD: "pp310-*"
          CIBW_SKIP: "*_i686"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"
          CIBW_MUSLLINUX_X86_64_IMAGE: "musllinux_1_1"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/lib64 &&
            auditwheel show {wheel} &&
            auditwheel repair -w {dest_dir} {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            export LIBRARY_PATH=$(pwd)/build/lib &&
            DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-pp310-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  upload_all:
    #needs: [make_sdist, build_wheels_cp36, build_wheels_cp37, build_wheels_cp38, build_wheels_cp39, build_wheels_cp310, build_wheels_cp311, build_wheels_cp312, build_wheels_pp37, build_wheels_pp38, build_wheels_pp39, build_wheels_pp310]
    needs: [make_sdist, build_wheels_cp36, build_wheels_cp37, build_wheels_cp38, build_wheels_cp39, build_wheels_cp310, build_wheels_cp311, build_wheels_cp312, build_wheels_pp38, build_wheels_pp39, build_wheels_pp310]
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    #if: github.event_name == 'release' && github.event.action == 'published'
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: cibw-*
        path: dist
        merge-multiple: true

    - uses: pypa/gh-action-pypi-publish@release/v1
